@import '../../main-theme';
.example-table-container{
  height: calc( 100vh - 240px);
}

.mat-table {

  
  overflow: auto;
  width: 100%;
}

.mat-header-row{
  background-color: mat-color($primary);
}

.mat-header-cell{
  color: $primary-color-text;
}
