@import '../../main-theme';
.example-table-container{
  height: calc( 100vh - 200px);
}

.mat-table {

  //height: calc( 100vh - 200px);
  overflow: auto;
  width: 100%;
}

.mat-header-row{
  background-color: mat-color($primary);
}

.mat-header-cell{
  color: $primary-color-text;
}
