
@import '../../main-theme';


.example-table-container {
  position: relative;
  height: 590px;
  overflow: auto;
}

table {
  width: 100%;
}
.mat-header-row{
  background-color: mat-color($primary);
}

.mat-header-cell{
  color: $primary-color-text;
}

.mat-row:hover{
  background : mat-color($primary,300) ;
}


::ng-deep .mat-sort-header-arrow{
  color : $primary-color-text;
}

.contenedor-itemUbigeos{
  background-color: $primary-color-text;
  padding: 0;
  margin: 0;
  display: flex;

  width: 100%;
  position: relative;

}


.contenedor-itemUbigeos> div.dmk-breadcrumbv1{

  background-color: mat-color($primary-600);
  min-height: 10px;
  max-height: 100%;
  margin: auto;
  margin-left: 0px;
  margin-right: 10px;
  padding: 10px 12px;
  padding-left: 22px;
  line-height: 140%;
  font-size: 12px;
  position: relative;
  cursor:pointer;
  color: $primary-color-text;
}

.contenedor-itemUbigeos> div.dmk-breadcrumbv1:after {
   content: "";
   display: block;
   background-color: transparent;
   position: absolute;
   z-index: 1;
   top: 0;
   right: -14px;

   width: 0;
   height: 0;
   border-style: solid;
   border-width: 18px 0 18px 14px;
   border-color: transparent transparent transparent mat-color($primary-600);
 }

.contenedor-itemUbigeos> div.dmk-breadcrumbv1:before {
   content: "";
   display: block;
   background-color: transparent;
   position: absolute;
   z-index: 0;
   top: 0;
   left: 0px;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 18px 0 18px 14px;
   border-color: transparent transparent transparent $primary-color-text;
 }

.contenedor-itemUbigeos> div.dmk-breadcrumbv1:hover {
    background-color: mat-color($accent);
  }

.contenedor-itemUbigeos> div.dmk-breadcrumbv1:hover:after {
  border-color: transparent transparent transparent mat-color($accent);

}

