
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="50%">
    <div >
      <app-esri-map>

      </app-esri-map>
    </div>
  </div>


  <div fxFlex="50%" class="">
  <div >
    <div class="contenedor-itemUbigeos">
      <div class="dmk-breadcrumbv1"  (click)="selectItemUbigeo(itemUbigeo,$event)" *ngFor=" let itemUbigeo of itemsUbigeos; let indice=index ">
        {{itemUbigeo.text}}
      </div>
    </div>

    <div class="example-table-container">
    <table mat-table  [dataSource]="data" class="example-table mat-elevation-z8">
      <ng-container [matColumnDef]="column.data" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef > {{column.label}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column.data]}} </td>
      </ng-container>



      <tr mat-header-row color="primary"  *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row class="example-row" (dblclick)="selectUbigeo(row,$event)" *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    </div>
  </div>

  </div>
</div>
