<mat-card class="my-card">

  <mat-card-content>
    <div class="conteiner">
    <div class="row" >

      <div class="col-md-6">
        <div >

          <app-esri-map-leyenda>
          </app-esri-map-leyenda>
          <app-esri-map>
          </app-esri-map>
        </div>
      </div>


      <div class="col-md-6">

<!--
      <div fxLayout="row" fxLayout.xs="column"  fxLayoutGap="0.5%" fxLayoutAlign="center center">
      
      -->
      <div>
          <div class="contenedor-itemUbigeos"  >
                <div class="dmk-breadcrumbv1"  (click)="selectItemUbigeo(itemUbigeo,$event)" *ngFor=" let itemUbigeo of itemsUbigeos; let indice=index ">
                  {{itemUbigeo.text}}
                </div>
          </div>
        <mat-tab-group >

          <mat-tab label="Reportes" >

              <div>
              <mat-form-field>

                  <input matInput (keyup)="applyFilter($event)" placeholder="Buscador">
                </mat-form-field>
              </div>
            
            <div class="example-table-container">
              <mat-table  [dataSource]="dataSource"  class="example-table mat-elevation-z8" matSort>
                <ng-container [matColumnDef]="column.data" *ngFor="let column of displayedColumns" >
                  <mat-header-cell *matHeaderCellDef mat-sort-header > {{column.label}} </mat-header-cell>


                  <mat-cell *matCellDef="let element" >
                    <ng-container *ngIf="column.data=='porcent_segm'"  >
                       <div [ngStyle] ="{'background-color': (column.data==='porcent_segm') ? 
                       (element[column.data]<20)?'rgb(231, 76, 60)':
                       (element[column.data]<40)?'rgb(230, 126, 34)':
                       (element[column.data]<60)?'rgb(243, 156, 18)':
                       (element[column.data]<80)?'rgb(241, 196, 15)':'rgb(46, 204, 113)': 'white'}" >
                       {{element[column.data] | number:'1.2-2'}} %
                       </div>
                          
                      
                      
                    </ng-container>
                    <ng-container *ngIf="column.data!=='porcent_segm'">
                      {{element[column.data]}}
                    </ng-container>

                  </mat-cell>

                  <!--{{element[column.data]}} </mat-cell>-->
                </ng-container>



                <mat-header-row color="primary"  *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
                <mat-row class="example-row" (dblclick)="selectUbigeo(row,$event)" *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
              </mat-table>
            </div>

          </mat-tab>
          <mat-tab label="Estadisticas">
            <app-estadisticas-segmentacion>

            </app-estadisticas-segmentacion>

          </mat-tab>
          <mat-tab label="Graficos">
            <app-graficos></app-graficos>
          </mat-tab>
        </mat-tab-group>


        </div>
    <!--
    
    </div>
-->
      </div>
    </div>
    </div>
  </mat-card-content>
</mat-card>

