<div class="content" >
  <section fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">



      <mat-card-title>
      <mat-icon class="icon-login" color="primary"> account_circle</mat-icon>

        <div>INGRESA TU CUENTA</div>
      </mat-card-title>



      <mat-card-content>


      <form>
          <mat-form-field   [color]="primary" appearance="outline"  class="example-full-width">
            <input matInput placeholder="Usuario" [(ngModel)]="username" name="username" required>
          </mat-form-field>


          <mat-form-field  [color]="primary" appearance="outline" class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field>

        <!--<mat-card-actions>-->
          <button mat-raised-button (click)="login()" color="primary">Ingresar</button>
        <!--</mat-card-actions>-->
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>

        </form>
      </mat-card-content>
    </mat-card>
  </section>



</div>
