@import '../../main-theme';
.example-form {

  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card{

}

mat-card-title{
  text-align: center;
}
mat-card-content{
  text-align: center;
}

.icon-login{
  font-size: 50px;

}

mat-card{
  /*margin: 10px auto;*/
}


.content{
  display: flex;
  align-items: center;
  justify-content: center;
}
