<!--The content below is only a placeholder and can be replaced.-->
<div  class="example-container" [class.example-is-mobile]="mobileQuery.matches"  >
  <mat-toolbar  class="example-toolbar">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
      <!--<span><a href="/">HOME</a></span>-->
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

      <span class="spacer"></span>
      <!--<a mat-button routerLink="/login">Register</a>-->
      <a mat-button routerLink="/login" >Login</a>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <mat-list>
        <mat-list-item (click)="select(menu)"   [class.menu-select]="menu===menuSelect"  *ngFor="let menu of menuItems" routerLink="{{menu.routerLink}}" [ngStyle]="{ cursor:'pointer'}"><mat-icon >{{menu.icon}}</mat-icon> {{menu.name}}</mat-list-item>
        <!--<a mat-list-item  routerLinkActive="list-item-active"  routerLink="/usuarios"><mat-icon>account_box</mat-icon>Administrar Usuarios</a>-->
      </mat-list>
      
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
<!--<br>-->

