
@import '../../main-theme';
.mat-card{
  margin: 10px
}

.example-table-container {

}

.mat-table {
  height: calc( 100vh - 300px);
  overflow: auto;
  width: 100%;
}

.mat-header-row{
  background-color: mat-color($primary);
}

.mat-header-cell{
  color: $primary-color-text;
}

.mat-row:hover{
  background : mat-color($primary,300) ;
  cursor: pointer;
}
