<div *ngIf="datos!==undefined  ; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>

  <div class="legenda">
    <div class="cabeceraLegend">
      <h3>
        <i class="material-icons">list_alt</i>
        <span>LEYENDA</span>
      </h3>
      <!--<div>
        <i class="material-icons">remove</i>
      </div>-->
    </div>

    <div class="contLegend">
      <div class="titulo">{{titulo}} </div>

      <div class="itemLegend" *ngFor="let rango of datos.rangos ; let i=index ">
        <!--<input type="checkbox" (change)="checkedEstrato(i,$event)" style="margin-right: 3px; vertical-align: middle;">-->
        <div [ngStyle]="{'height':'20px','width':'20px','background-color':datos.colores[i].color  }">
        </div>  <div style="margin:0 5px;">De {{rango.min_valor}} hasta {{rango.max_valor}}</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template  #elseBlock>
  <div>Loading...</div>
</ng-template>
