.esri-map{
  height:  calc(100vh - 100px);
}
/*
#mapa_layer5{
  z-index:50;
}
#mapa_layer0 ,#mapa_layer1 ,#mapa_layer2,#mapa_layer3{
  z-index:0;
}*/
#mapa_layer1{
  z-index:50
}
/*
#homeButton{
  z-index: 4;
  left: 20px;
  top:100px;
  position: absolute;
}*/