<mat-card class="my-card">

  <mat-card-content>
    <div fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        
        <div fxLayout="row" fxLayoutGap="0.5%"  >

          <div class="contenedor-itemUbigeos" fxFlex="80">
              <div class="dmk-breadcrumbv1"  (click)="selectItemUbigeo(itemUbigeo,$event)" *ngFor=" let itemUbigeo of reporteCalidadService.itemsUbigeos; let indice=index ">
                    {{itemUbigeo.text}}
            </div>
          </div>
          
          <mat-form-field fxFlex="20">
              <input matInput (keyup)="applyFilter($event)" placeholder="Buscador">
          </mat-form-field>
         

        </div>



        <mat-table  [dataSource]="dataSource"  class="example-table mat-elevation-z8" matSort>
          <ng-container [matColumnDef]="column.data" *ngFor="let column of displayedColumns" >
            <mat-header-cell *matHeaderCellDef mat-sort-header > {{column.label}} </mat-header-cell>


            <mat-cell *matCellDef="let element">

                <ng-container *ngIf="column.data==='tasa_error'">
                    {{element[column.data] | number:'1.2-2'}}
                </ng-container>
            
                <ng-container *ngIf="column.data!=='tasa_error'">
                    {{element[column.data]}}
                </ng-container>
                
              
            </mat-cell>


          </ng-container>



          <mat-header-row color="primary"  *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
          <mat-row class="example-row" (dblclick)="selectUbigeo(row,$event)" *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[10, 20,30]" showFirstLastButtons></mat-paginator>

    </div>

  </mat-card-content>

</mat-card>
